---
import Scroller from "../components/Scroller.astro";
import Dialog from "../layouts/Dialog.astro";
import Shadow from "../components/Shadow.astro";
---

<main class="flex h-screen w-screen p-8">
  <Scroller />
  <Dialog/>
  <Shadow />
</main>
<script>

</script>
