---
import Scroller from "../components/Scroller.astro";
import Dialog from "../layouts/Dialog.astro";
import Shadow from "../components/Shadow.astro";
---

<section class="hidden sm:flex h-screen w-screen p-8">
  <Scroller />
  <Dialog/>
  <Shadow />
</section>
<script>

</script>
