---
import Layout from "../layouts/Layout.astro";
import Desktop from "./Desktop.astro";
import Mobile from "./Mobile.astro";
---

<Layout title="">
	<main class="h-screen">
		<Desktop />
		<Mobile />
	</main>
</Layout>
