---
import Layout from "../layouts/Layout.astro";
import Desktop from "./Desktop.astro";
import Mobile from "./Mobile.astro";
---

<Layout title="huyixi.com" description="huyixi's Personal Website">
	<main class="h-screen">
		<Desktop />
		<Mobile />
	</main>
</Layout>
