<section
  class="text-#1b1b1a top-20 left-10 sm:hidden flex flex-col justify-center min-h-screen"
>
  <h1 class="tracking-0.5 fixed top-4 left-4">
    <a href="/">HuYixi</a>
  </h1>
  <div class="font-size-7 font-medium text-center uppercase ">
    China based<br /> Software Engineer
  </div>
  <div class="mxa">
    <ul class="flex gap-2">
      <li>
        <a href="mailto:hi@huyixi.com" target="_blank" rel="noopener noreferrer"
          >Email</a
        >
      </li>
      <li>
        <a href="https://huyixi.org/" target="_blank" rel="noopener noreferrer"
          >Blog</a
        >
      </li>
      <li>
        <a href="https://huyixi.wiki/" target="_blank" rel="noopener noreferrer"
          >Wiki</a
        >
      </li>
      <li>
        <a
          href="https://github.com/huyixi"
          target="_blank"
          rel="noopener noreferrer">Github</a
        >
      </li>
    </ul>
  </div>
</section>
