<section id="nav-panel-contact" style="display:block" class="flex-self-end">
  <ul class="grid gap-4">
    <li class="flex">
      <div class="title w-32 border-t border-black">Mail</div>
      <div class="content w-64 border-t border-black ml-16">
        <p>Say Hello</p>
        <a href="mailto:hi@huyixi.com" class="hover:underline">hi@huyixi.com</a>
      </div>
    </li>
    <li class="flex">
      <div class="title w-32 border-t border-black">More</div>
      <div class="content w-64 border-t border-black ml-16">
        <p>
          <a class="hover:underline" href="https://huyixi.org">Blog</a>
          <a class="hover:underline" href="https://huyixi.wiki">Wiki</a>
          <a class="hover:underline" href="https://github.com/huyixi">GitHub</a>
        </p>
      </div>
    </li>
  </ul>
</section>
<script>
  import { isContactOpen } from "../store";
  isContactOpen.subscribe((open) => {
    if (open) {
      document.getElementById("nav-panel-contact").style.display = "block";
    } else {
      document.getElementById("nav-panel-contact").style.display = "none";
    }
  });
</script>
