<nav class="h-[calc(100vh-4rem)] z-10 fixed">
  <ul class="relative h-100%">
    <li
      id="nav-about"
      class="border-t border-black text-left w-32 mb-2 font-size-sm cursor-pointer"
    >
      About <span id="nav-item-symbol-about">+</span>
    </li>
    <li
      id="nav-projects"
      class="border-t border-black text-left w-32 font-size-sm cursor-pointer"
    >
      Work Index <span id="nav-item-symbol-projects">+</span>
    </li>
    <li
      id="nav-contact"
      class="absolute bottom-0 border-t border-black text-left w-32 font-size-sm cursor-pointer"
    >
      Contact <span id="nav-item-symbol-contact">+</span>
    </li>
  </ul>
</nav>

<script>
  import {
    isContactOpen,
    isAboutOpen,
    isProjectOpen,
    isShadowOpen,
  } from "../store.js";

  function toggleMenu(store, symbolId) {
    console.log("toggleMenu", store, symbolId);
    [isContactOpen, isAboutOpen, isProjectOpen].forEach(
      (otherStore) => {
        if (otherStore !== store) otherStore.set(false);
      },
    );

    store.set(!store.get());
    const symbolElement = document.getElementById(symbolId);
    symbolElement.textContent = store.get() ? "-" : "+";
  }

  document
    .getElementById("nav-contact")
    .addEventListener("click", () =>
      toggleMenu(isContactOpen, "nav-item-symbol-contact"),
    );
  document
    .getElementById("nav-projects")
    .addEventListener("click", () =>
      toggleMenu(isProjectOpen, "nav-item-symbol-projects"),
    );
  document
    .getElementById("nav-about")
    .addEventListener("click", () =>
      toggleMenu(isAboutOpen, "nav-item-symbol-about"),
    );
</script>
