<nav class="h-[calc(100vh-4rem)] z-10 fixed">
  <ul class="relative h-100%">
    <li class="border-t border-black text-left w-32 mb-2 font-size-sm cursor-pointer">About
    </li>
    <li class="border-t border-black text-left w-32 font-size-sm cursor-pointer">Projects</li>
    <li class="absolute bottom-0 border-t border-black text-left w-32 font-size-sm cursor-pointer">
      Contact
    </li>
  </ul>
</nav>
