<div
  id="dialog-shadow"
  style="display:block"
  class="fixed left-0 top-0 z-1 h-100% w-100% bg-[hsla(0,0%,100%,.8)] backdrop-blur-3px opacity-100"
>
</div>
<script>
  import { isShadowOpen } from "../store";
  isShadowOpen.subscribe((open) => {
    if (open) {
      document.getElementById("dialog-shadow").style.display = "block";
    } else {
      document.getElementById("dialog-shadow").style.display = "none";
    }
  });
</script>
